<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skywalker.common.dao.API_PassportDao" >
	<select id="query" resultType="API_Passport">
		SELECT api_sn,api_address,api_project_sn,project_name,register_date FROM API_Properties WHERE api_sn=#{api_sn}
	</select>
	
	<select id="selectAll" resultType="API_Passport">
		SELECT api_sn,api_address,api_project_sn,project_name,register_date FROM API_Properties
	</select>
	
	
	<insert id="save" parameterType="API_Passport">
		INSERT INTO API_Properties(
			api_sn,api_address,api_project_sn,project_name,register_date)
		VALUES (
			#{api_sn},
			#{api_address},
			#{api_project_sn},
			#{project_name},
			#{register_date}		
		)
	</insert>
	<delete id="delete" parameterType="String">
	DELETE FROM API_Properties
	WHERE api_sn=#{api_sn}
	</delete>

</mapper>